<a href="https://colab.research.google.com/github/anastacia254/AI-Coursework2025/blob/main/Airplane_Crashes_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv")

2. Determine the number of rows and columns in the dataset.

In [ ]:
print("Number of rows and columns in the dataset:", df.shape)

 **PUT QUESTION 3 HERE**

In [ ]:
#paste code for question 3 here

**PUT QUESTION 4 HERE **

In [ ]:
#paste code for question 4 hereDetermine the number of rows and columns in the dataset.

**PUT QUESTION 5 HERE **

In [ ]:
#paste code for question 5 here

**PUT QUESTION 6 HERE **

In [ ]:
#paste code for question 6 here

**PUT QUESTION 7 HERE **

In [ ]:
#paste code for question 7 here

**PUT QUESTION 8 HERE **

In [ ]:
#paste code for question 8 here

**PASTE  QUESTION 9 HERE**

In [ ]:
#paste code for question 9 here

**PASTE QUESTION 10 HERE **

In [ ]:
#paste code for question 10 here