<a href="https://colab.research.google.com/github/bernardDesmond23/NetflixTitles-DataCleaning/blob/main/Netflix_Titles_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()
df =pd.read_csv('netflix_titles.csv')

Data indexing question 1
Number of all Movies originating from South Africa

In [ ]:
sa_movies_count = df[(df['type'] == 'Movie') & (df['country'] == 'South Africa')]
print(" Number of Movies from South Afica;",len(sa_movies_count))

Data indexing question 2
What is the description of the movie in the 12th row?

In [ ]:
description_12 = df.iloc[11]['description']
print("Description of the movie in 12th row:\n", description_12)

List the number of Movies and TV Shows among the last 20 rows
of the dataset

In [ ]:
last_20 = df.tail(20)
movie_count = (last_20['type'] == 'Movie').sum()
tv_count = (last_20['type'] == 'TV Show').sum()

print("\nAmong the last 20 rows:")
print("Movies:", movie_count)
print("TV Shows:", tv_count)

List the entire cast of all movies released in 2021.

In [ ]:
# filters rows where by the type considers for only movies and then also considers the release year of 2021
#so it filters out all movies released in 2021
movies_2021 = df[(df['type'] == 'Movie') & (df['release_year'] == 2021)]

if len(movies_2021) > 0:
    # the if statement calculates the number of filtered rows we got from the dataframe
    cast_info = movies_2021[['title', 'cast']].reset_index(drop=True)#selects only the columns with the title cast and then restarts
    # the row numbering to start from 0 hence the .reset_index(drop=True) and removes old index

    for i, row in cast_info.iterrows():# the for loop iterates through each row of the data frame by .iterrows and i id for index number of current row
        #row is for the data in that row
        print(f"{i+1}. {row['title']}") #accesses the data from row 1 specifically data with the value 'title'
        if pd.notna(row['cast']):#if the cast value is not not null
            # Split cast by comma for better readability
            cast_members = row['cast'].split(', ')
            for member in cast_members:# for loop to output the cast in a list format with bullets
                print(f"   • {member}")
        else:
            print(f"   • No cast information available")
        print()
else:
    print("No movies from 2021 were found in the dataset.")